In [1]:
import pandas as pd

In [35]:
filename = 'Trip Generation.xls'
path ='D:/001_Projects/01 - GIPTN/04 - Macro Model/Census Export/%s' % (filename)
voertuigbewegings = pd.read_excel(path, nrows = 945, sheet_name = "Education", usecols = 10)

In [38]:
final = pd.melt(voertuigbewegings, id_vars=['TAZ Number'], 
        var_name='Demand Strata', value_name='Number of Individuals')
final['Demand Strata'] = final['Demand Strata'].replace(['School.1', 'School.2'], 'School')
final['Demand Strata'] = final['Demand Strata'].replace(['Student.1', 'Student.2'], 'Student')
final['Demand Strata'] = final['Demand Strata'].replace(['Other.1', 'Other.2', 'Other.3'], 'Other')
result = final.groupby(by = ['TAZ Number', 'Demand Strata'])['Number of Individuals'].sum().reset_index()
result

      TAZ Number Demand Strata  Number of Individuals
0        1740001         Other                    0.0
1        1740001        School                    6.0
2        1740001       Student                    0.0
3        1740002         Other                    3.0
4        1740002        School                   33.0
5        1740002       Student                   15.0
6        1740003         Other                    3.0
7        1740003        School                   12.0
8        1740003       Student                    6.0
9        1740004         Other                    0.0
10       1740004        School                   36.0
11       1740004       Student                    0.0
12       1740005         Other                    0.0
13       1740005        School                   33.0
14       1740005       Student                    3.0
15       1740006         Other                    9.0
16       1740006        School                   60.0
17       1740006       Student                    3.0
18       1740007         Other                    0.0
19       1740007        School                   27.0
20       1740007       Student                    0.0
21       1740008         Other                    0.0
22       1740008        School                   54.0
23       1740008       Student                    0.0
24       1740009         Other                   18.0
25       1740009        School                   63.0
26       1740009       Student                   42.0
27       1740010         Other                    3.0
28       1740010        School                   60.0
29       1740010       Student                    6.0
...          ...           ...                    ...
2805     1800110         Other                    3.0
2806     1800110        School                  246.0
2807     1800110       Student                    0.0
2808     1800111         Other                    6.0
2809     1800111        School                  207.0
2810     1800111       Student                    3.0
2811     1800112         Other                   12.0
2812     1800112        School                  240.0
2813     1800112       Student                   12.0
2814     1800113         Other                    3.0
2815     1800113        School                  201.0
2816     1800113       Student                    0.0
2817     1800114         Other                    6.0
2818     1800114        School                  279.0
2819     1800114       Student                    3.0
2820     1800115         Other                    3.0
2821     1800115        School                  291.0
2822     1800115       Student                    0.0
2823     1800116         Other                    3.0
2824     1800116        School                  297.0
2825     1800116       Student                    6.0
2826     1800117         Other                    3.0
2827     1800117        School                  279.0
2828     1800117       Student                    3.0
2829     1800118         Other                    3.0
2830     1800118        School                  357.0
2831     1800118       Student                   12.0
2832     1800119         Other                    3.0
2833     1800119        School                  291.0
2834     1800119       Student                   21.0

[2835 rows x 3 columns]